:root {
    --primary-color: #d3f8f2;
    --primary-darker:#3EE17F;
    --secondary-color: #a9d3f9;
    --tertiary-color: #e4c1f9;
    --quaternary-color: #f649c1;
    --light-contrast-color:#ede7b1
}

html,body {
    height: 100vh;
}

*,button,input {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    outline: 0;
}
a {
    text-decoration: none;
    color: #fff;
}

ul li:hover {
    cursor: pointer;
    transform: scale(1.02);
}

ul {
    list-style: none;
}

#square {
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
    margin-top: 47px;
    z-index: 0;
    margin-left:98px;
    background-color:#e570f2;
}

header {
    background-image: url(../dist/assets/header-background.png);
    width: 99vw;
    background-size: cover;
}

header section h1 {
    color: #fff;
    font-size:40px;
    font-style: italic;
}
header section {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    border-radius: 0.3rem;
}

header section .search-container {
    position:relative;
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 60px;
    border-radius:0.3rem;
    border-bottom: 3px solid #fff;
    justify-content: space-evenly;
    align-items: center;
}

header section .search-container input {
    background: transparent;
    font-size: 20px;
    color: #fff;
    margin-left:10px;
    height:100%;
    transition: 0.5s;
    width: 100%;
}

header section .search-container label {
    position: absolute;
    font-size: 22px;
    color: #fff;
    transition: 0.5s;
    top: -12px;
}

header section .search-container input:valid ~ label {
    color:var(--secondary-color);
    top: -12px;
}

header section .search-container i {
    color:#fff;
}


header section .cart i {
    transform:scale(3);
    color:#fff;
}


header .options-container ul{
    position: absolute;
    z-index: 1;
    top: 4%;
    display: flex;
    color: #fff;
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 20%;
}

header .options-container ul li {
    width: 100%;
    padding: 20px 0px 20px 0px;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
}

header .options-container ul li:first-child {
    background: #e570f2;
    border-color: #e570f2;
    border-left: 0;
}

header .options-container ul li:last-child {
    background: #8de2cb;
    border-color: #8de2cb;
    border-right: 0;
}

header .options-container ul .products {
    background: #e249fa;
    border-color: #e249fa;
}

header .options-container ul .releases {
    background: #b641c6 ;
    border-color: #b641c6 ;
}

header .options-container ul .promotion {
    background: #684087 ;
    border-color: #684087 ;
}

header .options-container ul .clients {
    background: #31599f ;
    border-color: #31599f ;
}

header .options-container ul .fac {
    background: #04979e ;
    border-color: #04979e ;
}

header .options-container ul .about {
    background: #48c4c6 ;
    border-color: #48c4c6 ;
}

.circles {
    width: 40%;
    border-top: 10px dotted #d17ede;
}


footer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    width: 100vw;
    height: 400px;
    margin-top: 50px;
    background-image: url(../dist/assets/naopeficilprogramar.jpg);
    background-size:cover;
}

footer * {
    color: #000;
    font-size:38px;
    font-style: italic;
}

footer .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

footer .social-icons i {
    color:#3b5998;
    widows: 40px;
    height: 40px;
    margin-bottom: 105px;
}


@media(max-width: 768px){
    header {
        flex-direction: column;
        height: 40%;
        width: 99vw;
    }
    header section {
        display: flex;
        flex-direction: column;
    }
    .cart i {
        margin-top:100px;
    }
    header section .search-container {
        width: 300px;
    }
    header section .search-container input {
        width: 100%;
    }
    
    header section .search-container label {
        width: 300px;
        margin-left: 60px;
    }
    .super-deals {
        margin-top: 550px;
    }
    

    .options-container ul{
        position: relative;
        flex-direction: column;
        margin-top: 56vh;
    }

    footer {
        height: 600px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    footer .social-icons {
        flex-direction: column;
        justify-content: center;
    }

    footer .links {
        margin-top: 420px;
    }

    footer .header {
        width:95%;
        text-align: center;
    }

    #square {
        display: none;
    }
}
