#square {
    margin-left: 1770px;
    background:  #8de2cb;
}
.card-box {
    width: 80%;
    height:55%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background: #f0f0f5;
    margin: 0 auto;
    align-items: center;
}

.card-box .email-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
    height:100%;
    background: green;
    text-align:center;
    color: #fff;
    border-radius: 18px;
}

.card-box .email-text i {
    transform: scale(9);
}

.card-box .email-text h2 {
    margin-top: 70px;
}

.card-box .form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;  
}

.input {
    display: flex;
    flex-direction: column;
    height:100px;
    width:50%;
    padding: 10px;
    border-radius: 16px;
    border-bottom: 2px solid #000;
}

.input + .input {
    margin-top:30px;
}

.input label {
    font-size: 22px;
    font-weight:700;
}

.input input {
    font-size: 18px;
    background: transparent;
    width: 100%;
    height: 100%;
}

.input:last-child {
    height: 200px;
}

.input textarea {
    font-size: 18px;
    height: 100%;
    width: 100%;
    background: transparent;
}

@media(max-width:768px){
    .card-box {
        flex-direction: column;
        height: 100%;
        margin-top: 65vh;
    }

    .card-box .email-text {
        width: 100%;
        height: 80%;
        margin-bottom: 80px;
    }
    
    .input {
        width: 90%;
    }

}